body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    padding: 20px;
}
input, select, button {
    margin: 5px;
    padding: 5px;
}
#orderbook, #trade {
    margin-top: 20px;
    background: #222;
    padding: 10px;
    border-radius: 10px;
}
h1, h3 {
    color: #f0c420;
}